.ipynb_checkpoints
faster_rcnn_pytorch/Custom training tutorial/Microcontroller Detection
faster_rcnn_pytorch/Custom training tutorial
faster_rcnn_pytorch/inference_tutorial
notebooks/Luderick_Seagrass/faster_rcnn_outputs
notebooks/Luderick_Seagrass/Fish_automated_identification_and_counting
notebooks/Luderick_Seagrass/inference_outputs
notebooks/Luderick_Seagrass/models
pecs
papers
notebooks/Luderick_Seagrass/__pycache__
notebooks/Luderick_Seagrass/pytorch_utility_scripts
*.py
~WRL0965.tmp
~$M Introduction to Object Detection.docx
*.tmp
yolov4_architecture.xcf
yolov4-sam-mish.cfg
yolov4_architecture.png
notebooks/Luderick_Seagrass/datasets
notebooks/Luderick_Seagrass/yolov5
Yemelyanenka_linayemely_PEC4___Redaccion_de_la_memoria_31-08-2021_22_41_12 (3).pdf
notebooks/Luderick_Seagrass/Car Tracking.ipynb
*.mp4
*.pt
copia memoria ricard.pdf
copia.docx
detection metrics.pdf
